body {
    background: #2c2c2c;

}
aside {
    float: left;
    background : #181818;
    width: 25%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
    text-decoration: none;

}
aside img {
    width: 80px;
    float: left;
}
aside .logo{
    font-size:40px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: -3px;

}

aside h3 {
    font-size:30px;
    margin-top: 50px;

}
aside ul {list-style: none}
aside ul li {
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform . 6ease;
    text-decoration: none;
}

aside ul li:hover, aside ul a:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.1);
}
main .features {
    float: left;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}
main .features {
    main .features h1 {
        font-size: 50px;
    }
main .features p {
     max-width: 400px;
        margin: 20 px auto
    }
}

